
body{
margin:0;
font-family:Arial;
background:#050505;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 40px;
background:black;
align-items:center;
}

.logo{
color:#00fff7;
}

nav ul{
display:flex;
list-style:none;
}

nav li{
margin-left:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h2{
font-size:60px;
color:#00fff7;
}

button{
background:#00fff7;
border:none;
padding:10px 20px;
margin-top:10px;
cursor:pointer;
border-radius:6px;
}

#games{
padding:80px;
text-align:center;
}

.game-grid{
display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;
}

.game{
background:#111;
padding:20px;
border-radius:10px;
transition:0.3s;
}

.game:hover{
transform:translateY(-8px);
box-shadow:0 0 15px #00fff7;
}

.game img{
width:300px;
border-radius:8px;
}

#trailer{
padding:80px;
text-align:center;
background:#0a0a0a;
}

#blog{
padding:80px;
background:#0a0a0a;
}

.post{
background:#111;
padding:20px;
border-radius:10px;
margin-top:20px;
}

#contact{
padding:80px;
text-align:center;
}

input,textarea{
display:block;
margin:10px auto;
padding:10px;
width:300px;
border-radius:6px;
border:none;
}

footer{
text-align:center;
padding:20px;
background:black;
}
